#menu {
    position: absolute;
    bottom: var(--footer-size);
    left: 5px;
    right: 5px;

    display: grid;
    grid-template-rows: repeat(4, 1fr);
    padding-bottom: 10px;

    background-color: var(--bg2);
    border: none;
    border-top: 1px solid #FFFFFF40;
    box-sizing: border-box;
    
}

#menu input[type="button"] {
    color: white;
    background-color: transparent;

    font-family: system-ui;
    font-weight: bold;
    font-size: large;
    min-height: 60px;

    border: none;
}

#menu input[type="button"]:active {
    background-color: #FFFFFF10;
}