#catalog {
    padding: 10px;
    color: var(--fg1);
    height: 100%;
    background-color: var(--bg1);
}

#catalog .entries {
    display: flex;
    gap: 10px;
    flex-direction: column;
    height: 100%;
}

.catalog-entry {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: auto auto;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;

    background-color: var(--bg2);
    border: 1px solid var(--border-color);
    border-radius: 10px;

    user-select: none;

    font-family: 'Times New Roman', Times, serif;
}

.catalog-entry:active {
    background-color: color-mix(in srgb, var(--bg2) 90%, white 10%);
}

.catalog-entry .name {
    grid-row: 1;
    grid-column: 1 / 3;
    width: fit-content;

    font-size: 16pt;
    color: var(--fg1);
}

.catalog-entry .size {
    grid-row: 2;
    grid-column: 1;
    width: fit-content;

    font-size: 10pt;
    font-style: italic;
    color: var(--fg2);
}

.catalog-entry .difficulty {
    grid-row: 2;
    grid-column: 2;
    width: fit-content;

    font-size: 10pt;
    color: var(--fg2);
}