#control-pad {
    display: grid;

    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;

    border-radius: 10px;
    background-color: transparent;
}

#control-pad input {
    display: block;
    align-self: stretch;
    justify-self: stretch;
    appearance: none;
    background-color: transparent;
    color: white;
    margin: 0;

    border-top: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color-dark);
    border-right: 1px solid var(--border-color-dark);
    border-radius: 5px;

    width: 100%;
    height: 100%;
    aspect-ratio: 1;

    min-width: 60px;
    box-sizing: border-box;

    background-position: center center;
    background-size: 24px;
    background-repeat: no-repeat;
}

#control-pad input:active {
    border-top: 1px solid var(--border-color-dark);
    border-left: 1px solid var(--border-color-dark);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    /* background-color: #FFFFFF10; */
}

#control-pad input:checked {
    border-top: 1px solid var(--border-color-dark);
    border-left: 1px solid var(--border-color-dark);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    /* background-color: #FFFFFF10; */
}

#control-pad #control-left {
    grid-row: 2;
    grid-column: 2;

    background-image: url("/images/left.png");
}

#control-pad #control-right {
    grid-row: 2;
    grid-column: 4;

    background-image: url("/images/right.png");
}

#control-pad #control-up {
    grid-row: 1;
    grid-column: 3;

    
    background-image: url("/images/up.png");
}

#control-pad #control-down {
    grid-row: 2;
    grid-column: 3;

    background-image: url("/images/down.png");
}

#control-pad #control-black {
    grid-row: 1;
    grid-column: 4;

    background-image: url("/images/square.png");
}

#control-pad #control-white {
    grid-row: 1;
    grid-column: 2;

    background-image: url("/images/cross.png");
}

#control-pad #control-erase {
    grid-row: 1;
    grid-column: 1;

    background-image: url("/images/eraser.png");
}