.nonogram-button .box-content {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 0;
    min-height: 0;
    overflow: hidden;

    background-color: white; 
    cursor: pointer;
}

.nonogram-button .box-content:active {
    background-color: #ebebeb; 
}

.nonogram-button .thumbnail-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}