#desktop-startpage {
    height: 100%;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    padding: 10px;
    gap: 20px;
}

#desktop-startpage .notd-box .box-content
{
    overflow: hidden;
}