#desktop-startpage {
    height: 100%;
    width: 100%;
    overflow: auto;
    box-sizing: border-box;

    padding: 5px;

    display: grid;
    grid-template-columns: 300px max-content 300px;
    grid-template-rows: 1fr;
    gap: 5px;
    justify-content: center;

    line-height: 1.5;
}

#desktop-startpage .left.column {
    justify-self: right;
}

#desktop-startpage .center.column {
    justify-self: center;
}

#desktop-startpage .right.column {
    justify-self: left;
}

#desktop-startpage .column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
}

#desktop-startpage .box-content
{
    min-height: 100px;
    overflow: hidden;
}