#playfield {
    --header-size: 20px;
    --border-size: 5px;
    --footer-size: 190px;

    position: relative;
    background-color: var(--bg2);
    height: 100%;
}

#header {
    position: absolute;
    inset: var(--border-size);
    top: 0px;
    height: var(--header-size);
    padding: 2px;

    display: flex;
    justify-content: center;
    
    font-family: sans-serif;
    font-size: 11pt;
    color: var(--fg1);
}

#footer {
    position: absolute;
    bottom: 0px;
    left: 2px;
    right: 2px;
    height: var(--footer-size);

    display: grid;
    grid-template-rows: 1fr auto;
    gap: 5px;
    justify-items: center;

    padding-top: 5px;
    box-sizing: border-box;

    background-color: transparent;
    overflow: hidden;
}

#footer-buttons {
    grid-row: 2;

    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;

    width: 100%;
    height: 50px;
}

#footer-buttons input[type="button"] {
    border: none;
    border-radius: 10px;
    background-color: transparent;
    background-size: 24px;
    
    width: 100%;

    font-family: system-ui;
    font-weight: bold;

    align-content: start;
    justify-content: center;
}

#footer-buttons input[type="button"]:active {
    background-color: #FFFFFF10;
}

#button-undo {
    background: url("/images/undo.png") no-repeat center center;
}

#button-menu {
    background: url("/images/menu.png") no-repeat center center;
}

#button-redo {
    background: url("/images/redo.png") no-repeat center center;
}

#nonogram-root {
    position: absolute;
    inset: var(--border-size);
    bottom: var(--footer-size);
    top: var(--header-size);

    border: 1px solid #FFFFFF40;
}